table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	border-left: 2px solid #dddddd;
	border-right: 2px solid #dddddd;
}

td,
th {
	border-top: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	text-align: left;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

th {
	width: 150px;
	vertical-align: center;
	text-align: left;
	letter-spacing: 1.5px;
	cursor: pointer;
}

th[id="title"] {
	width: 300px;
}

thead th.ascending::after {
	content: "↑";
	display: inline-block;
}

thead th.descending::after {
	content: "↓";
	display: inline-block;
}

.pagination {
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.hidden {
	display: none;
}
